# =========================
db.sqlite3


# Node / React
# =========================
node_modules/
build/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
frontend_build/           # if backend serves React build

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
db.sqlite3
*.sqlite3

# =========================
# IDE / Editor
# =========================
.vscode/

# =========================
# OS / Misc
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Optional: React build files to ignore individually
# (if you want finer control)
frontend_build/static/js/*.js
frontend_build/static/css/*.css
